/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

img {
  width: 100%;
}

body {
  background: white;
  color: black;
  background-image: url("../assets/moving-wave.gif");
  background-size: cover;
  width: 100%;

}

.ws-page {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.ws-clouds-container {
  width: 100%;
  top: 0px;
  position: relative;
  overflow: hidden;
  align-items: center;
  min-height: 50vh;
}

.ws-cloud {
  width: 30%;
  float: left;
}

.ws-waves-container {
width: 100%;
bottom: 0px:
position: relative;
overflow: hidden;
align-items: center;
min-height: 50vh;
}

.ws-wave {
  width: 50%;
}

.ws-wave--small {
  width: 30%;
}

.ws-wave--med {
  width: 40%
}

.ws-wave--big {
  width: 80%;
}
.ws-wave--right {
  float: right;
}

.ws-wave--left {
  float: left;
}
