/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

img {
  width: 100%;
}

body {
  background: white;
  color: black;
  background-image: url("../assets/moving-wave.gif");
  background-size: cover;
  width: 100%;

}

.ws-page {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.ws-clouds-container {
  width: 100%;
  top: 0px;
  position: relative;
  overflow: hidden;
  align-items: center;
  min-height: 50vh;
}

.ws-cloud {
  width: 30%;
  float: left;
}

.ws-crane-container {
width: 100%;

}
.ws-crane1 {
  width: 35%;
}

.ws-waves-container {
width: 100%;
bottom: 0px:
position: relative;
overflow: hidden;
align-items: center;
min-height: 50vh;
}

.ws-wave {
  width: 50%;
}

.ws-wave--small {
  width: 25%;
}

.ws-wave--med {
  width: 30%
}

.ws-wave--big {
  width: 80%;
}
.ws-wave--right {
  float: right;
}

.ws-wave--left {
  float: left;
}

/* .ws-wave--right:hover {
animation: shake 0.1s infinite;
}
.ws-wave--left:hover {
animation: shake 0.1s infinite;
} */

.ws-turtle-container {

}

.ws-turtle1 {
  width: 30%;
  float:;
}

.ws-penguin-container {
}

.ws-peng {
  width: 40%;
  float: right;
  z-index: 100;
}

.ws-peng:hover {
  animation: shake 0.3s infinite;
}

.ws-peng {
width: ;
}

.ws-diver-container {
}

.ws-dive {
width: 30%;
}

/* .ws-stat-container {
}

.ws-stat1 {
width: 30%;
} */

#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
  width: 50%;
  /* border: 0.5px solid ;  */
}

#mydivheader {
  padding: 2px;
  cursor: move;
  z-index: 10;
  width: 50%;

}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
